@import "tailwindcss";

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --font-jakarta: var(--jakarta);
  --font-space: var(--space-grotesk);

  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-dark: #161e2e;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

html {
  scroll-behavior: smooth;
}
